<launch>

    <arg name="video_dev" default="/dev/video1" />
    <arg name="visualise" default="true" />
    <param name="visualise" value="$(arg visualise)" />

    <include file="$(find astra_launch)/launch/astrapro.launch" />

    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
        <param name="video_device" value="$(arg video_dev)" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="yuyv" />
        <param name="camera_frame_id" value="usb_cam" />
        <param name="io_method" value="mmap" />
    </node>

    <node name="face_node"
	  pkg="robots_exercise_3"
	  type="face_detection_node.py" />
</launch>
